[MASTER]

# Specify a configuration file.
# rcfile=

# Python code to execute, usually for sys.path manipulation such as
# pygtk.require().
# init-hook=

# Use multiple processes to speed up Pylint.
jobs=1

# When enabled, pylint would attempt to guess common misconfiguration and emit
# user-friendly hints instead of false-positive error messages.
suggestion-mode=yes

[MESSAGES CONTROL]

# Enable only errors and warnings.
disable=all
enable=error,warning

[BASIC]

# Good names
good-names = x, y, z, w, b

# Specify the maximum line length.
max-line-length=120

[VARIABLES]

# Allow one-letter variable names.
allow-single-line-underscore-names=yes

[FORMAT]

# Use the default formatting style.
expected-line-ending-format=LF

